.about-view
	h2.about-view__header Об этом приложении
	div.about-view__info Семестровый проект, разрабатываемый совместно со студентами Технопарка Mail.Ru
	h3.about-view__subheader Преподаватели:
	ul.about-view__tutors
		li.about-view__tutor Алексей Тюльдюков
		li.about-view__tutor Анатолий Остапенко
		li.about-view__tutor Артур Удалов
		li.about-view__tutor Дмитрий Дорофеев
		li.about-view__tutor Марина Титова
	a(href="https://github.com/frontend-park-mail-ru", target="_blank").about-view__github Наш GitHub
