.signin-view
	h2.signin-view__header Авторизация
	form.signin-view__form.form-block.signin-form-js
		input(type="email", required="required", name="email", placeholder="Введите ваш email").form-block__field.form-block__input
		input(type="password", required="required", name="password", placeholder="Введите ваш пароль").form-block__field.form-block__input
		input(type="submit", value="Авторизоваться").form-block__field.form-block__button
