* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting {
  font-family: --apple-system, Arial, sans-serif;
  font-size: 72px;
  transition: all .7s;
}

.hidden {
  opacity: 0;
}
