* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src:
			local('.SFNSText-Light'),
			local('.HelveticaNeueDeskInterface-Light'),
			local('.LucidaGrandeUI'),
			local('Ubuntu Light'),
			local('Segoe UI Light'),
			local('Roboto-Light'),
			local('DroidSans'),
			local('Tahoma');
}

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: 'system', Arial, sans-serif;
	font-size: 16px;
}

#application {
	width: 580px;
}

#application .application-header {
	display: block;
	font-size: 2.5rem;
	cursor: pointer;
	margin-top: 0.6rem;
	margin-bottom: 1.4rem;
}

#application h2 {
	display: block;
	font-size: 2rem;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}

.menu-section a {
	display: block;
	cursor: pointer;
	margin-bottom: 1em;
}

.menu-section a[hidden] {
	display: none;
}
