.profile-view
	h2.profile-view__header Профиль пользователя #{user.email}
	div
		span.profile-view__info-field Email
		span.profile-view__info-value #{user.email}
	div
		span.profile-view__info-field Age
		span.profile-view__info-value #{user.age}
